* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

@font-face{
    font-family: Arion;
    src: url(../fonts/Arlon-UltraBold.ttf);
}

@font-face {
    font-family: PMN;
    src: url(../fonts/PMNCaeciliaSansHeadRg.ttf);
}

/* youri - top section */

.top_section {
    background-image: linear-gradient(to bottom ,rgba(99, 109, 161, 0.4), rgba(250, 250, 250, 1)),  url(../images/header.jpg);
    background-position: 0% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arion;
}

.top_section h1:first-of-type{
    color: #595a60;
    font-size: 45px;
}

.top_section h1:nth-child(2){
    color: #42464f;
    font-size: 60px;

}

.top_section span{
    color: #3c3c3e;
    font-family: PMN;
    letter-spacing: 5px;
    position: relative;
    top: -17px;
}

.top_section button{
    background-color: #695aa6;
    border: none;
    padding: 6px 15px;
    border-radius: 20px;
    color: white;
    font-family: PMN;
    margin-top: 5px;
}

.top_section div{
    padding-right: 50px;
    width: 400px;
}

/* youri - top section */

/* youri - about me section */

.about_me{
    display: flex;
    height: 80vh;
    margin: 0 10%;
}

.about_me img{
    height: 70%;
}

.about_me div:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_me div:nth-child(2){
    margin-top: 2% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_me h1{
    color: #695aa6;
    margin-top: 1%;
    margin-bottom: 2%;
    color: #695aa6;
    font-family: Arion;
}

.about_me button{
    background-color: white;
    border: 1px solid #695aa6;
    padding: 6px 1px;
    border-radius: 20px;
    color: #695aa6;
    font-family: PMN;
    margin-top: 5px;
    width: 100px;
    margin-top: 50px;
}

/* / youri - about me section  */

/*youri - service section */

.section div{
    display: flex;
}

.justify_title {
    display: flex;
    justify-content: center;
}

.service_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
/*youri - service section */

#image{
    height: 50px;
    display: block;
    margin: 10px auto;
}

.service_card{
    border: 1px solid black;
    padding: 20px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* / youri - service section */


/* youri - portofolio section */
.container{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 33%;
    height: 100%;
}

.card img{
    width: 100%;
    height: 100%;
}
/* / youri - portofolio section */



/* youri - pricing section */
.container_pricing{
    height: 400px;
    width: 100%;
    display: flex;
}

.card_pricing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    text-align: center;
}

.card_pricing p{
    line-height: 40px;
}

.card_pricing button{
    background-color: #695aa6;
    border: none;
    color: white;
    padding: 3% 5%;
}
/* / youri - pricing section */
